/*
Client: CY BUILDING PTY LTD
Author: Josh SHEN & Alex LIU
Author URI: http://www.www.com.au
Description: Nothing yet
Version: 1.0
License: All plug-ins are with MIT License
Tags: Dark cold colour scheme
*/


/*===========================================================
											MAIN SETUPS
===========================================================*/

@import url('https://necolas.github.io/normalize.css/3.0.2/normalize.css');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

/************************************
		Colour Scheme Selection
************************************/
$light_color: #F7FAF0;			//Touching Grey;
$second_color: #D1DBBD;			//Grey Yellow;
$medium_color: #91AA9D;			//Light grey mixing with blue;
$fourth_color: #3E606F;			//Grey blue;
$dark_color: #193441;				//Navy blue;

//URL: https://color.adobe.com/library/536280FB-1B6F-4E45-8327-E0BE4556E788/theme/e7460fbd-75e6-4a9c-869b-3dd71cf832e6/

/************************************
		Other Color Style
************************************/
$href: #91AA9D;
$a_hover: #91AA9D;

/************************************
		Font Style Setup
************************************/

* {
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

/*===========================================================
											PREFIX & RESET
===========================================================*/

/************************************
		CSS3 Prefix
************************************/
@mixin display-flex(){
	display:flex;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
}
@mixin flex-wrap($type) {
	-webkit-flex-wrap:$type;
	    -ms-flex-wrap:$type;
		    flex-wrap:$type;
}
@mixin align-items($type){
		-webkit-box-align: $type;
	-webkit-align-items: $type;
	    -ms-flex-align: $type;
	        align-items: $type;
}

@mixin justify-content($type){
	    	-webkit-box-pack: $type;
 -webkit-justify-content: $type;
           -ms-flex-pack: $type;
         justify-content: $type;	
}
@mixin align-self($type){
	    -webkit-align-self: $type;
     -ms-flex-item-align: $type;
					    align-self: $type;
}
@mixin flex-direction ($type){
	 -webkit-flex-direction: $type;
       -ms-flex-direction: $type;
	         flex-direction: $type;	
}
@mixin transform ($type) {
			  -webkit-transform: $type;
			      -ms-transform: $type;
			          transform: $type;
}
@mixin transition ($type) {
	-webkit-transition: $type;
		 -moz-transition: $type;
					transition: $type;
}
@mixin background-linear($type) {
	background-image: -webkit-linear-gradient($type);
	background-image: -moz-linear-gradient($type);
	background-image: linear-gradient($type);
}


body {
	background: $light_color;
	line-height: 1.42857;
}
*, *::before, *::after, {
	box-sizing:border-box;
}

/************************************
		Other Styles Setup
************************************/
button {
  border-radius: 5px;
  background: $medium_color;
  border: 0;
  color: white;
}
.pointer {
	cursor:pointer;
}
.cevc { //Child Elements Vertically Centered
	@include display-flex();
	@include align-items(center);
}
.unlist_style { list-style:none; }

/*===========================================================
											HEADER SECTION
===========================================================*/
/************************************
		Mobile
************************************/
/* background setup */
.nav_container {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    height:100%;
    min-width:320px;
}
.fullscreen {
    width:100%;
    min-height:100%;
}
.not-fullscreen ,
.fullscreen.not-overflow {
    height:100%;
    overflow:hidden;
}

.nav_container {
	@include display-flex();
		@include align-items(flex-end);
	h1, h2, h3, h4, i {
		color:#fff;
		margin-bottom:0;
	}
}

.tool_bar {
	@include display-flex();
	@include justify-content(space-between);
	width:100%;
	background-color: rgba(0,0,0,0.8);
	min-width:320px;
	height:60px;
	position:fixed;
	z-index:200;
	i {
		font-size:1.75em;
		margin-right:15px;
	}
	img {
		height:30px;
		margin-left:5%;
	}
}

.menu_overlay {
	position:fixed;
	right:-1000px;
	top:60px;
	z-index:200;
	width:61.8%;
	background: rgba(0,0,0,0.8);
	height:100%;
	@include transition(all 1s ease);
		ul{
		white-space: nowrap;
		display:block;
		font-size: 1em;
		font-weight: 500;
		margin:0;
		padding:25px;
		li {
			height: 50px;
			padding: 15px 0 15px 0;
			border-top: 1px solid #c9c9c9;
			&:first-child {
				border: none;
			}
			a {
				text-decoration:none;
				color:$second_color;
				font-weight: 600;
				&:active { color: $light_color; }
			}
		}
	}
}
.menu_overlay_push {
	right:0;
	@include transition(all 1s ease);
}
.home_content {
	position:absolute;
	top:35%;
	left:10%;
	width:100%;
	max-width:400px;
	min-width:320px;
}


.under_bk {
	@include display-flex();
	@include justify-content(space-around);
	
	background:$dark_color;
	width:100%;
	height:100px;
	font-weight:600;
	button {
		width:150px;
		height:50px;
	}
	& button:nth-child(2) {
		background:none;
		border:2px solid #fff;
	}
}

/*===========================================================
											2ND PAGE SECTION
===========================================================*/
/************************************
		Mobile
************************************/
.second_page {
	display:block;
	width:100%;
	padding:10px 5% 10px 5%;
	text-align: justify;
	h2 { margin-bottom:10px; }
}
.little_line { height:2px; width: 75px; border: 2px solid $medium_color; margin-bottom: 10px; }

/*===========================================================
											3ND PAGE SECTION - GALLERY
===========================================================*/
/************************************
		Mobile
************************************/
.gl_head {
	display:block;
	width:100%;
	height:100px;
	background:#222222;
	padding:10px 5% 10px 5%;
	h2 { color: #fff; margin-bottom:10px; }
}
.gl_container {
	@include display-flex();
	@include flex-direction (column);
		background:#222222;
	padding: 15px 5% 15px 5%;
	margin:0;
	width:100%;
}
.gl_items {
	width:100%;
	margin: 10px auto;
	img {
		max-width:100%;
			border: 5px solid $light_color;
	}
	.gl_subtitle {
		display:block;
		width:100%;
		color:#fff;
		font-size:0.65em;
		padding-right:10px;
		text-align: right;
	}
}


/*===========================================================
											4ND PAGE SECTION - TESTIMONIALS
===========================================================*/
/************************************
		Mobile
************************************/
.test_head {
	background:$light_color;
	display:block;
	width:100%;
	height:100px;
	padding:10px 5% 10px 5%;
}
.testimonial_container {
	display:block;
	position:relative;
	border: 1px solid #e9e9e9;
	border-radius: 2px;
	width:90%;
	height:100%;
	margin: 10px auto;
	padding: 15px;
	min-width:320px;
	margin-bottom:70px;
	.potrait {
		position: absolute;
		bottom:-50px;
		left:20px;
		 & img {
				width:70px;
				border-radius:100%;
		}
		.t_name {
			position: absolute;
			bottom:20px;
			left:100px;
			white-space:nowrap;
			font-weight: 600;
		}
	}
}
/*===========================================================
											4ND PAGE SECTION - TESTIMONIALS
===========================================================*/
/************************************
		Mobile
************************************/
.form_container {
	background:#222222;
	color: #fff;
	.input_all {
		display:block;
		margin-bottom: 20px;
	}
	form {
		margin: 0 5%;
		label {
			width: 20px;
		}
	}
}



/*===========================================================
											MEDIA QUERY
===========================================================*/
@media screen and (max-width: 400px) {
	.background_blur { 	background-size:150%; }
}