/*
Client: CY BUILDING PTY LTD
Author: Josh SHEN & Alex LIU
Author URI: http://www.www.com.au
Description: Nothing yet
Version: 1.0
License: All plug-ins are with MIT License
Tags: Dark cold colour scheme
*/
/*===========================================================
											MAIN SETUPS
===========================================================*/
@import url("https://necolas.github.io/normalize.css/3.0.2/normalize.css");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/************************************
		Colour Scheme Selection
************************************/
/************************************
		Other Color Style
************************************/
/************************************
		Font Style Setup
************************************/
/* line 41, sass/style.scss */
* { font-family: "Helvetica Neue","Helvetica","Arial",sans-serif; }

/*===========================================================
											PREFIX & RESET
===========================================================*/
/************************************
		CSS3 Prefix
************************************/
/* line 107, sass/style.scss */
body { background: #2B2B2B; line-height: 1.42857; }

/* line 111, sass/style.scss */
*, *::before, *::after { box-sizing: border-box; }

/************************************
		Other Styles Setup
************************************/
/* line 118, sass/style.scss */
button { border-radius: 5px; background: #91AA9D; border: 0; color: white; }

/* line 124, sass/style.scss */
a { text-decoration: none; color: #fff; }

/* line 128, sass/style.scss */
.pointer { cursor: pointer; }

/* line 131, sass/style.scss */
.cevc { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

/* line 135, sass/style.scss */
.unlist_style { list-style: none; }

/*===========================================================
											HEADER SECTION
===========================================================*/
/************************************
		Mobile
************************************/
/* background setup */
/* line 144, sass/style.scss */
.nav_container { background-repeat: no-repeat; /* custom background-position */ background-position: 50% 50%; /* ie8- graceful degradation */ background-position: 50% 50% \9  !important; }

/* full-screen setup */
/* line 153, sass/style.scss */
html, body { height: 100%; min-width: 320px; }

/* line 157, sass/style.scss */
.fullscreen { width: 100%; min-height: 100%; }

/* line 161, sass/style.scss */
.not-fullscreen, .fullscreen.not-overflow { height: 100%; overflow: hidden; }

/* line 170, sass/style.scss */
.nav_container h1, .nav_container h2, .nav_container h3, .nav_container h4, .nav_container h5, .nav_container i { color: #fff; margin-bottom: 0; }

/* line 176, sass/style.scss */
.tool_bar { width: 100%; background-color: rgba(0, 0, 0, 0.8); min-width: 320px; height: 60px; position: fixed; z-index: 200; padding-left: 5%; }
/* line 184, sass/style.scss */
.tool_bar .icon_menu { margin: auto 0; margin-right: 10%; }
/* line 188, sass/style.scss */
.tool_bar i { font-size: 1.75em; }
/* line 191, sass/style.scss */
.tool_bar .fix_test { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-box-pack: space-between; -webkit-justify-content: space-between; -ms-flex-pack: space-between; justify-content: space-between; width: 100%; max-width: 1268px; height: 60px; margin: 0 auto; }
/* line 198, sass/style.scss */
.tool_bar .fix_test img { height: 35px; margin: auto 0; margin-left: 5%; }

/* line 206, sass/style.scss */
.menu_overlay { position: fixed; right: -1000px; top: 60px; z-index: 200; width: 61.8%; background: rgba(0, 0, 0, 0.8); height: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
/* line 215, sass/style.scss */
.menu_overlay ul { white-space: nowrap; display: block; font-size: 1em; font-weight: 500; margin: 0; padding: 25px; }
/* line 222, sass/style.scss */
.menu_overlay ul li { height: 50px; padding: 15px 0 15px 0; border-top: 1px solid #c9c9c9; }
/* line 226, sass/style.scss */
.menu_overlay ul li:first-child { border: none; }
/* line 229, sass/style.scss */
.menu_overlay ul li a { text-decoration: none; color: #D1DBBD; font-weight: 600; }
/* line 233, sass/style.scss */
.menu_overlay ul li a:active { color: #F7FAF0; }

/* line 238, sass/style.scss */
.menu_overlay_push { right: 0; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }

/* line 242, sass/style.scss */
.home_content_container { width: 100%; min-width: 320px; position: absolute; padding-left: 5%; top: 35%; }

/* line 249, sass/style.scss */
.home_content { width: 100%; max-width: 1268px; margin: 0 auto; }
/* line 253, sass/style.scss */
.home_content h1 { margin-bottom: 22px; }
/* line 256, sass/style.scss */
.home_content p { margin: 0; padding: 0; font-size: 0.95em; word-spacing: wrap; }

/* line 265, sass/style.scss */
.under_bk { -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; -webkit-align-self: flex-end; -ms-flex-item-align: flex-end; align-self: flex-end; position: absolute; bottom: 0; background: #193441; width: 100%; height: 100px; font-weight: 600; }
/* line 274, sass/style.scss */
.under_bk button { width: 150px; height: 50px; }
/* line 278, sass/style.scss */
.under_bk button:nth-child(2) { background: none; border: 2px solid #fff; }
/* line 281, sass/style.scss */
.under_bk button:nth-child(2):hover { background: #fff; color: #000; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }

/* line 289, sass/style.scss */
.overlay { display: none; z-index: 100; position: fixed; background-color: rgba(0, 0, 0, 0.3); width: 100%; height: 100%; }

/* line 297, sass/style.scss */
.clear_fix { content: ""; display: block; clear: both; visibility: hidden; }

/************************************
		Desktop
************************************/
/* line 306, sass/style.scss */
.nav_bar { display: none; }
/* line 309, sass/style.scss */
.nav_bar ul { list-style: none; display: inline-block; white-space: nowrap; padding-top: 15px; padding-left: 0; }
/* line 315, sass/style.scss */
.nav_bar ul li { float: left; font-size: 0.85em; padding: 0 13px; }
/* line 319, sass/style.scss */
.nav_bar ul li a:hover { color: #91AA9D; }

/* line 323, sass/style.scss */
.d_under_bk { display: none; width: 100%; height: 100px; font-weight: 600; }
/* line 328, sass/style.scss */
.d_under_bk button { margin-top: 30px; margin-right: 20px; width: 115px; height: 40px; font-size: 0.85em; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }
/* line 336, sass/style.scss */
.d_under_bk button:nth-child(2) { background: none; border: 2px solid #fff; }
/* line 339, sass/style.scss */
.d_under_bk button:nth-child(2):hover { background: #fff; color: #000; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }

/*===========================================================
											2ND PAGE SECTION
===========================================================*/
/************************************
		Mobile
************************************/
/* line 352, sass/style.scss */
.second_page { display: block; width: 100%; padding: 10px 5% 10px 5%; text-align: justify; color: #F7FAF0; }
/* line 358, sass/style.scss */
.second_page h2 { margin-bottom: 10px; }

/* line 361, sass/style.scss */
.container_box { max-width: 1268px; margin: 0 auto; }

/* line 365, sass/style.scss */
.container_box_dk { max-width: 1268px; margin: 0 auto; color: #fff; padding: 10px 0 10px 0; }

/* line 371, sass/style.scss */
.little_line { height: 2px; width: 75px; border: 2px solid #91AA9D; margin-bottom: 10px; }

/*===========================================================
											3ND PAGE SECTION - GALLERY
===========================================================*/
/************************************
		Mobile
************************************/
/* line 379, sass/style.scss */
.gallery { background: #222222; padding: 10px 5% 10px 5%; padding-bottom: 40px; border-top: 1px solid #333; border-bottom: 1px solid #333; }

/* line 386, sass/style.scss */
.gl_head { display: block; width: 100%; height: 100px; background: #222222; padding: 10px 5% 10px 5%; }
/* line 392, sass/style.scss */
.gl_head h2 { color: #fff; margin-bottom: 10px; }

/* line 394, sass/style.scss */
.gl_container { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; background: #222222; padding: 15px 5% 15px 5%; margin: 0; width: 100%; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }

/* line 403, sass/style.scss */
.gl_items { width: 100%; margin: 10px auto; }
/* line 406, sass/style.scss */
.gl_items img { width: 100%; height: auto; border: 5px solid #F7FAF0; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
/* line 412, sass/style.scss */
.gl_items span { margin-bottom: 15px; }
/* line 415, sass/style.scss */
.gl_items .gl_subtitle { display: block; width: 100%; color: #fff; font-size: 0.65em; padding-right: 10px; text-align: right; }

/*===========================================================
											4ND PAGE SECTION - TESTIMONIALS
===========================================================*/
/************************************
		Mobile
************************************/
/* line 432, sass/style.scss */
.testimonial { padding: 10px 5% 10px 5%; color: #fff; }
/* line 435, sass/style.scss */
.testimonial h2 { margin: 5px auto; }

/* line 439, sass/style.scss */
.test_head { background: #2B2B2B; display: block; width: 100%; padding-bottom: 10px; margin: 0 auto; max-width: 1268px; }

/* line 447, sass/style.scss */
.testimonial_container { display: block; position: relative; border: 1px solid #e9e9e9; border-radius: 2px; width: 90%; height: 100%; margin: 10px auto; padding: 15px; margin-bottom: 70px; }
/* line 457, sass/style.scss */
.testimonial_container .potrait { position: absolute; bottom: -50px; left: 20px; }
/* line 461, sass/style.scss */
.testimonial_container .potrait img { width: 70px; border-radius: 100%; }
/* line 465, sass/style.scss */
.testimonial_container .potrait .t_name { position: absolute; bottom: 20px; left: 100px; white-space: nowrap; font-weight: 600; }

/*===========================================================
											5TH PAGE SECTION - Contact Us
===========================================================*/
/************************************
		Mobile
************************************/
/* line 480, sass/style.scss */
.ccc { background: #222222; border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 0 5% 10px 5%; padding-bottom: 40px; }
/* line 486, sass/style.scss */
.ccc .contact_wrap { max-width: 1268px; margin: 0 auto; }

/* line 493, sass/style.scss */
.contact_us h2 { margin: 5px auto; }
/* line 496, sass/style.scss */
.contact_us p { font-size: 0.85em; padding: 0; }

/* line 501, sass/style.scss */
.contact_form_div { color: #fff; max-width: 1268px; margin: 0 auto; }
/* line 505, sass/style.scss */
.contact_form_div .form_name { margin-bottom: 5px; }
/* line 507, sass/style.scss */
.contact_form_div .form_name input, .contact_form_div .form_name textarea { width: 100%; height: 35px; color: #D1DBBD; border-radius: 5px; padding-left: 10px; background: #333; outline: none; border: 0; border: 1px solid #444; margin-bottom: 5px; }
/* line 518, sass/style.scss */
.contact_form_div .form_name input:focus, .contact_form_div .form_name textarea:focus { box-shadow: 0 0 10px #D1DBBD; -webkit-transition: box-shadow ease 0.5s; -moz-transition: box-shadow ease 0.5s; transition: box-shadow ease 0.5s; }
/* line 523, sass/style.scss */
.contact_form_div .form_name textarea { height: 150px; }
/* line 527, sass/style.scss */
.contact_form_div .label_p { display: none; width: 100%; margin-right: 10px; }
/* line 531, sass/style.scss */
.contact_form_div .label_p span { margin: 0; font-size: 0.55em; text-align: center; }
/* line 537, sass/style.scss */
.contact_form_div .form_send { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; }
/* line 540, sass/style.scss */
.contact_form_div .form_send input { background: #3E606F; width: 100px; height: 35px; border-radius: 5px; border: 0; text-shadow: 1px 1px #333; margin-top: 5px; }

/* line 552, sass/style.scss */
.contact_desk_v { display: none; height: 250px; padding-left: 5%; border-left: 4px dashed #333; margin-top: 120px; }
/* line 558, sass/style.scss */
.contact_desk_v .c_5 { color: #fff; font-size: 1.25em; padding-top: 40px; display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; height: 280px; }
/* line 565, sass/style.scss */
.contact_desk_v .c_5 i { width: 30px; }
/* line 568, sass/style.scss */
.contact_desk_v .c_5 span { margin-left: 32px; }

/*===========================================================
											6TH PAGE SECTION - MAPS
===========================================================*/
/************************************
		Mobile
************************************/
/* line 579, sass/style.scss */
#map { display: block; width: 100%; height: 60vh !important; margin: 0 auto; }

/*===========================================================
											Footer
===========================================================*/
/************************************
		Mobile
************************************/
/* line 597, sass/style.scss */
footer { width: 100%; background: #222; border-top: 1px solid #333; margin-top: 40px; min-height: 265px; }

/* line 604, sass/style.scss */
.bottom_footer { padding: 20px 5%; position: relative; max-width: 1268px; margin: 0 auto; min-height: 265px; }
/* line 610, sass/style.scss */
.bottom_footer .header_social_icon { z-index: 120; position: absolute; bottom: 230px; right: 160px; }
/* line 615, sass/style.scss */
.bottom_footer .header_social_icon i { border-radius: 50%; background-color: #3E606F; border: 2px solid #fff; width: 45px; height: 45px; box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5); color: #fff; font-size: 1.65em; text-align: center; padding: 7px 0; margin: 10px; }
/* line 629, sass/style.scss */
.bottom_footer .com_info { color: #fff; }
/* line 631, sass/style.scss */
.bottom_footer .com_info i { width: 30px; }
/* line 634, sass/style.scss */
.bottom_footer .com_info span { margin-left: 32px; }
/* line 638, sass/style.scss */
.bottom_footer .copyright { display: block; color: #777; text-align: center; font-size: 0.75em; margin-top: 30px; }
/* line 644, sass/style.scss */
.bottom_footer .copyright span { color: #fff; }
/* line 649, sass/style.scss */
.bottom_footer .footer_menu ul { list-style: none; text-align: center; padding: 0; }
/* line 653, sass/style.scss */
.bottom_footer .footer_menu ul li { position: relative; display: inline-block; font-size: 0.75em; padding: 0 13px; }
/* line 658, sass/style.scss */
.bottom_footer .footer_menu ul li a:hover { color: #91AA9D; }

/*===========================================================
											MEDIA QUERY
===========================================================*/
@media screen and (min-width: 750px) { /* line 670, sass/style.scss */
  .menu_overlay, .under_bk { display: none; }
  /* line 671, sass/style.scss */
  .icon_menu { display: none; }
  /* line 674, sass/style.scss */
  .nav_bar, .d_under_bk { display: block; }
  /************************************ 		Gallery - Desktop ***********************************/
  /* line 681, sass/style.scss */
  .gl_head { max-width: 1268px; margin: 0 auto; }
  /* line 685, sass/style.scss */
  .gl_container { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; flex-flow: row wrap; -webkit-flex-flow: row wrap; -moz-box: row wrap; -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; padding: 0; max-width: 1268px; margin: 0 auto; }
  /* line 692, sass/style.scss */
  .gl_container .gl_items { width: 320px; margin: 0; padding: 0; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; }
  /************************************ 		Testimonials - DESKTOP ***********************************/
  /* line 703, sass/style.scss */
  .desktop_testi_con { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; flex-flow: row wrap; -webkit-flex-flow: row wrap; -moz-box: row wrap; -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; max-width: 1268px; margin: 0 auto; }
  /* line 709, sass/style.scss */
  .desktop_testi_con .testimonial_container { width: 45%; }
  /************************************ 		CONTACT - DESKTOP ***********************************/
  /* line 716, sass/style.scss */
  .ccc { width: 100%; background: #222222; }
  /* line 719, sass/style.scss */
  .ccc .contact_wrap { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; }
  /* line 723, sass/style.scss */
  .contact_us { width: 60%; margin-right: 5%; }
  /* line 727, sass/style.scss */
  .contact_us form #name, .contact_us form #number { float: left; width: 45%; margin-bottom: 10px; }
  /* line 732, sass/style.scss */
  .contact_us form #number { margin-left: 10%; }
  /* line 737, sass/style.scss */
  .contact_desk_v { display: inline; width: 30%; }
  /* line 740, sass/style.scss */
  .contact_desk_v h2 { margin: 5px auto; }
  /* line 743, sass/style.scss */
  .contact_desk_v p { font-size: 0.85em; padding: 0; }
  /************************************ 		Map - DESKTOP ***********************************/
  /* line 751, sass/style.scss */
  .map { margin: 0; padding: 0; }
  /************************************ 		Footer - DESKTOP ***********************************/
  /* line 761, sass/style.scss */
  .com_info { display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; }
  /* line 763, sass/style.scss */
  .com_info .com_con { margin-left: 50px; } }
@media screen and (min-width: 1268px) { /* line 772, sass/style.scss */
  .tool_bar .fix_test img { margin-left: 0; }
  /* line 775, sass/style.scss */
  .test_head { padding: 0; } }
